 body {
        font-family: Arial, sans-serif;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }

      .visual {
        width: 210mm;
        min-height: 297mm;
        margin: 0 auto;
        box-sizing: border-box;
        background: #fff;
        border: 2px solid black;
      }
      

      td input {
        width: 100%;
        border: none;
        font-size: 11px;
        box-sizing: border-box;
        color: black;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      .heading table td {
        border: 1px solid black;
        padding: 2.5px;
        text-align: center;
        vertical-align: middle;
        line-height: 2.2;
      }

      .body table td {
        border: 1px solid black;
      }

      .time,
      .obdefect,
      .teband {
        width: 35px;
        cursor: pointer;
        text-align: center;
      }

      .defect-found {
        color: red;
      }

      button {
        width: 100%;
        background-color: rgb(189, 226, 189);
        border: none;
        cursor: pointer;
      }
      

      @media print {
  .no-print {
    display: none !important;
  }
}
