<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <form class="d-flex" action="/logout">
        <button class="btn btn-outline-success" type="submit">Logout</button>
      </form>
    </nav>
    <div class="contrainer">
      
      <form class="d-flex" action="/redirect"></form>
      <label for="exampleDataList" class="form-label">Customer</label>
      <input
        class="form-control"
        list="datalistOptions"
        id="exampleDataList"
        placeholder="Type to search..."
      />
      <datalist id="datalistOptions">
        <option value="Hindustan Coca Cola Beverages Ltd."></option>
        <option value="Bisleri International"></option>
        <option value="Reliance Retail Ltd."></option>
        <option value="Parle Agro"></option>
        <option value="Dailee Fresh Fruits"></option>
      </datalist>


      <!-- <label for="exampleDataList" class="form-label">Customer Location</label>
      <input
        class="form-control"
        list="datalistOptions2"
        id="exampleDataList"
        placeholder="Type to search..."
      />
      <datalist id="datalistOptions2">
        <option value="Bangluru"></option>
        <option value="Hyderabad"></option>
        <option value="Goa"></option>
        <option value="Los Angeles"></option>
        <option value="Chicago"></option>
      </datalist> -->


      <label for="exampleDataList" class="form-label">Supplier</label>
      <input
        class="form-control"
        list="datalistOptions3"
        id="exampleDataList"
        placeholder="Type to search..."
      />
      <datalist id="datalistOptions3">
        <option value="Secure Industries Pvt. Ltd."></option>
        <option value="Vform Tecnopacks"></option>
      </datalist>


      <!-- <label for="exampleDataList" class="form-label">Supplier Location</label>
      <input
        class="form-control"
        list="datalistOptions4"
        id="exampleDataList"
        placeholder="Type to search..."
      />
      <datalist id="datalistOptions4">
        <option value="Hyderabad"></option>
        <option value="Sanand"></option>
        <option value="Rohtak"></option>
      </datalist>


      <label for="exampleDataList" class="form-label">Batch No.</label>
      <input
        class="form-control"
        list="datalistOptions5"
        id="exampleDataList"
        placeholder="Type to search..."
      />
      <datalist id="datalistOptions5">
        <option value="2501001"></option>
        <option value="2501002"></option>
        <option value="2501003"></option>
        <option value="2501004"></option>
        <option value="2501005"></option>
      </datalist>
      <label for="exampleDataList" class="form-label">Invoice No.</label>
      <input
        class="form-control"
        id="exampleDataList"
        placeholder="Invoice No."
      /> -->
      

      
        <button class="btn btn-outline-success" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
