<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <title>New Master Batch</title>
    <link rel="stylesheet" href="/stylesheets/add_batch.css">
  </head>
  <body>
    <%- include("../partials/qualityNav") %>

    <div class="details">
      <div class="main">
        <h1>Corporate</h1>
        <h3>Enter Master Batch Details</h3>

        <form action="/addmbDetails/new" method="post">
          <label for="mb_code"> Master Batch Code: </label>
          <input type="text" id="mb_code" name="mb_code" required />  
          
          <label for="mb_sup"> Master Batch Supplier: </label>
          <input type="text" id="mb_sup" name="mb_sup" required />  

          <label for="mb_colour"> Master Batch Colour: </label>
          <input type="text" id="mb_colour" name="mb_colour" required />  

          <label for="mb_dosage"> Master Batch Dosage: </label>
          <input type="text" id="mb_dosage" name="mb_dosage" required />  


          <div class="wrap">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      // Force uppercase for all inputs with class="uppercase"
      document.querySelectorAll("input.uppercase").forEach(input => {
        input.addEventListener("input", function () {
          this.value = this.value.toUpperCase();
        });
      });
    </script>
  </body>
</html>