<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <title>Specification</title>
    <link rel="stylesheet" href="/stylesheets/add_batch.css" />
  </head>
  <body>
    <%- include("../partials/qualityNav") %><%- include("../loader") %>

    <div class="details">
      <div class="main">
        <h1>Corporate</h1>
        <h3>Enter Specs Details</h3>

        <form action="/specs/new" method="post">
          <label for="design"> Design: </label>
          <input type="text" id="design" name="design" required />

          <label for="product">Product: </label>
          <input
            type="text"
            id="product"
            name="product"
            class="uppercase"
            required
          />

          <label for="cl_type"> Closure Type: </label>
          <input
            type="text"
            id="cl_type"
            name="cl_type"
            class="uppercase"
            required
          />
          <label for="cl_size_ty">Closure Size & Type: </label>
          <input
            type="text"
            id="cl_size_ty"
            name="cl_size_ty"
            class="uppercase"
            required
          />

          <label for="cl_drw">Closures Drawing Number: </label>
          <input
            type="text"
            id="cl_drw"
            name="cl_drw"
            class="uppercase"
            required
          />

          <label for="cl_wt_spec">Weight Spec Nominal: </label>
          <input
            type="text"
            id="cl_wt_spec"
            name="cl_wt_spec"
            class="uppercase"
            required
          />

          <label for="cl_wt_spec_tol"> Weight Spec Tolerance: </label>
          <input
            type="text"
            id="cl_wt_spec_tol"
            name="cl_wt_spec_tol"
            class="uppercase"
            required
          />

          <label for="cl_ht">Closure Height Nominal: </label>
          <input
            type="text"
            id="cl_ht"
            name="cl_ht_spec"
            class="uppercase"
            required
          />

          <label for="cl_ht_tol">Closure Height Tolerance: </label>
          <input
            type="text"
            id="cl_ht_tol"
            name="cl_ht_spec_tol"
            class="uppercase"
            required
          />

          <label for="cl_kn_spec">Closure Knurling Nominal: </label>
          <input
            type="text"
            id="cl_kn_spec"
            name="cl_kn_spec"
            class="uppercase"
            required
          />

          <label for="cl_kn_tol">Closure Knurling Tolerance: </label>
          <input
            type="text"
            id="cl_kn_tol"
            name="cl_kn_spec_tol"
            class="uppercase"
            required
          />

          <label for="thickness">Top thickness Nominal: </label>
          <input
            type="text"
            id="thickness"
            name="thickness"
            class="uppercase"
            required
          />

          <label for="thickness_tol">Top Thickness Tolerance: </label>
          <input type="text" id="thickness_tol" name="thickness_tol" required />

          <label for="t_dia">T Dia. Nominal: </label>
          <input type="text" id="t_dia" name="t_dia" required />

          <label for="t_dia_tol">T Dia. Tolerance: </label>
          <input type="text" id="t_dia_tol" name="t_dia_tol" required />

          <label for="e_dia">E Dia. Nominal: </label>
          <input type="text" id="e_dia" name="e_dia" required />

          <label for="e_dia_tol">E Dia. Tolerance: </label>
          <input type="text" id="e_dia_tol" name="e_dia_tol" required />

          <label for="plug_dia">Plug Dia. Nominal: </label>
          <input type="text" id="plug_dia" name="plug_dia" required />

          <label for="plug_dia_tol">Plug Dia. Tolerance: </label>
          <input type="text" id="plug_dia_tol" name="plug_dia_tol" required />

          <label for="plug_ht">Plug Height Nominal: </label>
          <input type="text" id="plug_ht" name="plug_ht" required />

          <label for="plug_ht_tol">Plug Height Tolerance: </label>
          <input type="text" id="plug_ht_tol" name="plug_ht_tol" required />

          <label for="top_flatness">Top Flatness Nominal: </label>
          <input type="text" id="top_flatness" name="top_flatness" required />

          <label for="top_flatness_tol">Top Flatness Tolerance: </label>
          <input type="text" id="top_flatness_tol" name="top_flatness_tol" required />

          <label for="max_dia">Max Dia. Nominal: </label>
          <input type="text" id="max_dia" name="max_dia" required />

          <label for="max_dia_tol">Max Dia. Tolerance: </label>
          <input type="text" id="max_dia_tol" name="max_dia_tol" required />

          <label for="slitting_ht">Slitting Height Nominal: </label>
          <input type="text" id="slitting_ht" name="slitting_ht" required />

          <label for="slitting_ht_tol">Slitting Height Tolerance: </label>
          <input type="text" id="slitting_ht_tol" name="slitting_ht_tol" required />

           <label for="packing_qty">Quantity Per Box: </label>
          <input type="text" id="packing_qty" name="packing_qty" required />
          
           <label for="sst">SST: </label>
          <input type="text" id="sst" name="sst" required />

          <div class="wrap">
            <button type="submit" class="loaderReq">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      // Force uppercase for all inputs with class="uppercase"
      document.querySelectorAll("input.uppercase").forEach((input) => {
        input.addEventListener("input", function () {
          this.value = this.value.toUpperCase();
        });
      });
    </script>
    <script src="/javascripts/loader.js"></script>
  </body>
</html>
