<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </th>
        <tr>
            <td>Doc. No.: SIPL-QA-R-28</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Secure Industries Pvt. Ltd.</td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td>Rev. No. : 00</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Doc. No.: SIPL-QA-R-28</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Company Address</td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td>Rev. Date: 01/07/2025</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Incoming Inspection Report For Corrugated Box </td>
            <td></td>
            <td></td>
            <td></td>
            <td> </td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Report No./Date</td>
            <td></td>
            <td>943/14-11-2025</td>
            <td></td>
            <td> </td>
             <td></td>
            <td>Is COA Received</td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
             <td>No</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>