<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <title>Find & Update Resin</title>
    <link rel="stylesheet" href="/stylesheets/add_batch.css" />
  </head>
  <body>
    <%- include("../partials/qualityNav") %>

    <div class="details">
      <div class="main">
        <h1>Corporate</h1>
        <h3>Resin Details</h3>

        <form action="/rm/update" method="post">
          <label for="rm"> Resin Code: </label>
          <input type="text" id="rm" name="rm" value="<%=rm%>" required />

          <label for="rm_sup">Resin Supplier: </label>
          <input
            type="text"
            id="rm_sup"
            name="rm_sup"
            value="<%=rm_sup%>"
            required
          />

          <label for="rm_type">Resin Type: </label>
          <input
            type="text"
            id="rm_type"
            name="rm_type"
            value="<%=rm_type%>"
            required
          />

          <div class="wrap">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      document.querySelectorAll("input[type='text']").forEach((input) => {
        input.addEventListener("input", function () {
          this.value = this.value.toUpperCase();
        });
      });
    </script>
  </body>
</html>
